---
import { getCollection } from "astro:content";
import Layout from "@/layouts/layout.astro";
import SiteHeader from "@/components/site-header.astro";
import SectionHeader from "@/components/section-header.astro";
import FormattedDate from "@/components/formatted-date.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Blog | Edward Vonschondorf" description="A place to share my work and the journey it took to get there.">
  <SiteHeader />
  <article
    class="relative z-2 container mx-auto max-w-3xl space-y-6 rounded-xl border border-stone-700 bg-stone-900/30 p-6 backdrop-blur-[2px] lg:rounded-3xl">
    <SectionHeader>Blog</SectionHeader>
    <section>
      <p class="text-stone-300">
        Welcome to the blog section of my site where I share my insights, experiences, and lessons from my ongoing
        journey as a developer.
      </p>
    </section>
    <section>
      <ul class="space-y-3">
        {
          posts.map((post) => (
            <li class="flex items-baseline gap-6">
              <span class="block min-w-20 flex-shrink-0 text-xs text-stone-500 uppercase">
                <FormattedDate date={post.data.pubDate} />
              </span>
              <a href={`/blog/${post.id}/`} class="group flex w-full justify-between">
                <span class="transition-color font-medium text-pretty text-stone-300 duration-300 ease-in-out group-hover:text-orange-600">
                  {post.data.title}
                </span>
                <span class="transition-color text-xs text-stone-500 duration-300 ease-in-out group-hover:text-orange-600">
                  Read &gt;
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</Layout>
