@import "tailwindcss";

.bg-grid-lines {
  background-image:
    linear-gradient(oklch(0.268 0.007 34.298) 1px, transparent 1px),
    linear-gradient(to right, oklch(0.268 0.007 34.298) 1px, transparent 1px);
  background-size: 36px 36px;
  background-color: oklch(0.147 0.004 49.25);
}
