@import "tailwindcss";
@plugin "@tailwindcss/typography";

.bg-grid-lines {
  background-image:
    linear-gradient(oklch(0.268 0.007 34.298) 1px, transparent 1px),
    linear-gradient(to right, oklch(0.268 0.007 34.298) 1px, transparent 1px);
  background-size: 36px 36px;
  background-color: oklch(0.147 0.004 49.25);
}

@layer theme {
  :root {
    --stone-100: oklch(97% 0.001 106.424);
    --stone-300: oklch(86.9% 0.005 56.366);
    --stone-500: oklch(55.3% 0.013 58.071);
    --stone-900: oklch(21.6% 0.006 56.043);
    --orange-500: oklch(70.5% 0.213 47.604);
    --orange-600: oklch(64.6% 0.222 41.116);
  }
}

html {
  scrollbar-gutter: stable;
}

.prose {
  color: var(--stone-300);
}

.prose a {
  color: var(--orange-500);
  text-decoration: none;
}

.prose a:hover {
  color: var(--stone-100);
  text-decoration: underline;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--stone-100);
}

.prose code {
  color: var(--stone-500);
  background-color: var(--stone-300);
  font-family: monospace;
  padding: 0.15em 0.3em;
  border-radius: 0.5em;
}

.prose pre {
  font-family: monospace;
  background-color: var(--stone-900);
}

.prose pre code {
  background-color: transparent;
}

.prose blockquote {
  color: var(--stone-300);
}

.prose kbd {
  color: var(--stone-500);
  background-color: var(--stone-300);
}

.prose th {
  color: var(--stone-300);
}

.prose strong {
  color: var(--stone-300);
}
