---
import Layout from "../../layouts/layout.astro";
import { getCollection } from "astro:content";

const games = (await getCollection("arcade")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <article class="relative z-2 container mx-auto max-w-7xl text-white">
    <h2>Games</h2>
    {
      games.map((game) => (
        <div>
          <h3>{game.data.title}</h3>
          <p>{game.data.description}</p>
          <p>{game.data.how_to_play}</p>
          <a href={`/arcade/${game.id}`}>Link</a>
        </div>
      ))
    }
  </article>
</Layout>
