---
import Layout from "@/layouts/layout.astro";
import IntroSection from "@/pages/home/_sections/intro-section.astro";
import AboutSection from "@/pages/home/_sections/about-section.astro";
import TechSection from "@/pages/home/_sections/tech-section.astro";
import ProjectsSection from "@/pages/home/_sections/projects-section.astro";
import ArcadeSection from "@/pages/home/_sections/arcade-section.astro";
import BlogSection from "@/pages/home/_sections/blog-section.astro";
import NowSection from "@/pages/home/_sections/now-section.astro";
import AvailabilitySection from "@/pages/home/_sections/availability-section.astro";
---

<Layout
  title="Front-end, Back-end, Full-stack Developer | Edward Vonschondorf"
  description="Welcome to my little corner of the internet!">
  <article
    class="relative z-2 container mx-auto grid max-w-7xl grid-cols-6 gap-1.5 px-1.5 text-white lg:grid-cols-4 lg:grid-rows-8 lg:gap-3 lg:px-3 xl:px-0">
    <section
      class="col-span-6 flex flex-col justify-between gap-6 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-3 lg:row-span-3 lg:rounded-3xl">
      <IntroSection />
    </section>
    <section
      class="col-span-6 space-y-6 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-7 lg:rounded-3xl">
      <AboutSection />
    </section>
    <section
      class="col-span-6 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-2 lg:rounded-3xl">
      <TechSection />
    </section>
    <section
      class="col-span-2 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-2 lg:row-span-3 lg:rounded-3xl">
      <ProjectsSection />
    </section>
    <section
      class="col-span-2 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-3 lg:rounded-3xl">
      <ArcadeSection />
    </section>
    <section
      class="col-span-2 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-2 lg:rounded-3xl">
      <BlogSection />
    </section>
    <section
      class="col-span-3 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-2 lg:rounded-3xl">
      <NowSection />
    </section>
    <section
      class="col-span-3 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 lg:col-span-1 lg:row-span-1 lg:rounded-3xl lg:backdrop-blur-xs">
      <AvailabilitySection />
    </section>
  </article>
</Layout>
