---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article
    class="bg-stone-800 container mx-auto max-w-6xl grid grid-cols-12 p-4"
  >
    <section class="col-span-3 bg-stone-700 p-4">
      <h1 class="text-orange-500 font-bold text-2xl">
        Edward Vonschondorf
      </h1>
      <span class="block text-stone-200">Front-end, Back-end, Full stack developer</span>
    </section>
  </article>
</Layout>
