---
import Layout from "../layouts/Layout.astro";

import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
---

<Layout>
  <article
    class="relative z-2 container mx-auto grid max-w-7xl grid-cols-3 grid-rows-8 gap-1.5 px-1.5 text-white lg:grid-cols-4 lg:gap-3 lg:px-3 xl:px-0"
  >
    <section
      class="col-span-3 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:row-span-3 lg:rounded-3xl"
    >
      Intro
    </section>
    <section
      class="col-span-3 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-7 lg:rounded-3xl"
    >
      About
    </section>
    <section
      class="col-span-3 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-2 lg:rounded-3xl"
    >
      Tech
    </section>
    <section
      class="col-span-1 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-2 lg:row-span-3 lg:rounded-3xl"
    >
      Projects
    </section>
    <section
      class="col-span-1 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:row-span-3 lg:rounded-3xl"
    >
      Arcade
    </section>
    <section
      class="col-span-1 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:row-span-2 lg:rounded-3xl"
    >
      Blog
    </section>
    <section
      class="col-span-3 rounded-xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-xs lg:col-span-1 lg:row-span-2 lg:rounded-3xl"
    >
      Now
    </section>
    <section
      class="col-span-3 rounded-xl p-6 lg:col-span-1 lg:row-span-1 lg:rounded-3xl lg:border lg:border-stone-700 lg:bg-stone-900/30 lg:bg-radial-[at_10%_20%] lg:from-stone-700/30 lg:to-stone-700/0 lg:to-50% lg:backdrop-blur-xs"
    >
      Footer
    </section>
  </article>
</Layout>
