---

---

<div>
  <h3 class="text-sm font-medium text-stone-500 mb-1.5">About</h3>
  <p class="text-sm font-medium text-stone-300">
    I specialize in JavaScript and TypeScript for both front-end and back-end
    development, with experience in Python and Go. I'm always broadening my
    horizons with new techniques and technologies.
  </p>
</div>
