---

---

<button
  class="text-medium to block w-full cursor-pointer rounded-md border border-orange-500 bg-radial from-orange-500/0 to-orange-500/40 px-9 py-1.5 text-sm text-stone-200 transition duration-200 ease-in-out hover:border-orange-600 hover:from-orange-500/10 hover:to-orange-500/50 hover:text-white active:scale-90"
>
  <slot />
</button>
