---
import { getCollection } from "astro:content";

import SectionHeader from "./section-header.astro";

const featuredGameName = "the-running-dog";

const games = await getCollection("arcade");

const featuredGame = games.find((game) => game.id === featuredGameName);
---

<div class="space-y-3">
  <SectionHeader href="/arcade/">Arcade</SectionHeader>
  <a href={`/arcade/${featuredGame?.id}`} class="group space-y-3">
    <span class="hidden lg:block lg:h-36 lg:rounded-xl lg:bg-white/50"></span>
    <span
      class="hidden text-center font-medium text-stone-300 group-hover:text-orange-600 lg:block"
      >{featuredGame?.data.title}</span
    >
  </a>
</div>
