---
import { getCollection } from "astro:content";

import SectionHeader from "./section-header.astro";

const game = (await getCollection("arcade")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[2];
---

<!-- TODO: Load featured game image with link to the specific page for it -->
 <!--TODO: View shows up when you hover over image link, title of the game will be below image -->
<div class="space-y-3">
  <SectionHeader href="/arcade/">Arcade</SectionHeader>
  <a href="/" class="group space-y-3">
    <span class="block h-36 rounded-xl bg-white/50"></span>
    <span
      class="block text-center font-medium text-stone-300 group-hover:text-orange-600"
      >{game.data.title}</span
    >
  </a>
</div>
