---
const { twc = "" } = Astro.props;
---

<section
  class={`rounded-xl md:rounded-3xl border border-stone-700 bg-stone-900/30 bg-radial-[at_10%_20%] from-stone-700/30 to-stone-700/0 to-50% p-6 backdrop-blur-[2px] transition-colors duration-300 ease-in-out hover:border-orange-800 ${twc}`}>
  <slot />
</section>
