---
const { href, title, ariaLabel } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer external"
  title={title}
  aria-label={ariaLabel}
  class="text-stone-100 hover:text-orange-600 hover:underline">
  <slot />
</a>
