---
import ExtLink from "@/components/ext-link.astro";

const year = new Date().getFullYear();
---

<footer class="flex h-full items-center justify-between text-sm font-medium">
  <span class="block text-stone-400">
    &copy; {year} Made with <ExtLink
      href={"https://astro.build/"}
      title={"Visit Astro's website"}
      ariaLabel={"Visit Astro's website"}
    >
      Astro
    </ExtLink>
  </span>
  <button
    class="flex cursor-pointer items-center gap-1.5 rounded-xl border border-stone-700 bg-stone-800 px-2 py-1.5 hover:border-stone-500"
  >
    <span class="size-4 rounded-full bg-stone-700"></span>
    <span class="size-4 rounded-full bg-stone-500"></span>
  </button>
</footer>
