---
const { siteLinks, currentPage } = Astro.props;
---

<nav class="w-full">
  <ul class="hidden font-medium uppercase md:flex">
    {
      siteLinks.map((link: { href: string; name: string }) => (
        <li class="flex-grow">
          <a
            href={link.href}
            class={`group block rounded-md py-1.5 pl-3 text-sm transition-colors duration-150 ease-in-out hover:bg-stone-800 hover:text-orange-600 ${
              (link.href === "/" && currentPage === "/") || (link.href !== "/" && currentPage.startsWith(link.href))
                ? "text-orange-600"
                : "text-stone-300"
            }`}>
            <span
              class={`transition-colors duration-150 group-hover:text-white ${
                (link.href === "/" && currentPage === "/") || (link.href !== "/" && currentPage.startsWith(link.href))
                  ? "text-white"
                  : "text-stone-700"
              }`}>
              /
            </span>
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
