---
const { siteLinks, currentPage } = Astro.props;

const isActive = (href: string) => {
  return (href === "/" && currentPage === "/") || (href !== "/" && currentPage.startsWith(href));
};
---

<nav class="w-full">
  <ul class="hidden font-medium uppercase sm:flex">
    {
      siteLinks.map((link: { href: string; name: string }) => (
        <li class="flex-grow">
          <a href={link.href} class="group flex gap-0.75 rounded-md py-1.5 pl-3 text-sm hover:bg-stone-800">
            <span
              class={`block transition-all duration-300 ease-in-out group-hover:text-white ${
                isActive(link.href) ? "text-white" : "text-stone-700"
              }`}>
              /
            </span>
            <span
              class={`block transition-all duration-300 ease-in-out group-hover:translate-x-0.75 group-hover:text-orange-600 ${
                isActive(link.href) ? "translate-x-0.75 text-orange-600" : "text-stone-300"
              }`}>
              {link.name}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
