---

---

<div>
  <h1 class="mb-3 text-2xl font-medium">👋Hey! I'm Edward Vonschondorf</h1>
  <p class="text-xl font-medium text-stone-300 text-pretty">
    I'm a full-stack web developer who lives for solving complex problems,
    optimizing performance, and continuously learning to build better, more
    scalable applications. Check out my work, and let's connect!
  </p>
</div>
