---

---

<!-- TODO: Load featured project (image, title, text, link to specific page) -->
 
<div class="space-y-3">
  <h2 class="text-base font-medium text-stone-100">Projects</h2>
  <span class="block h-48 w-64 rounded-xl bg-white/50"></span>
</div>
