---
import SectionHeader from "./section-header.astro"
---

<!-- TODO: Load featured project (image, title, text, link to specific page) -->
 
<div class="space-y-3">
  <SectionHeader href="/projects/">Projects</SectionHeader>
  <span class="block h-48 w-64 rounded-xl bg-white/50"></span>
</div>
