---
import { getCollection } from "astro:content";

import SectionHeader from "./section-header.astro";

const project = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)[0];
---

<div class="space-y-3">
  <SectionHeader href="/projects/">Projects</SectionHeader>
  <div class="flex gap-3">
    <span class="hidden min-h-48 min-w-64 rounded-xl bg-white/50 lg:block"
    ></span>
    <div class="hidden space-y-3 lg:block">
      <h3 class="font-medium text-stone-100">{project.data.title}</h3>
      <p class="text-sm font-medium text-stone-300">
        {project.data.description}
      </p>
      <a href={`/projects/${project.id}`}>Link</a>
    </div>
  </div>
</div>
