---
import DropdownMenu from "./dropdown-menu.astro";

const siteLinks = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "/projects" },
  { name: "Arcade", href: "/arcade" },
  { name: "Blog", href: "/blog" },
  { name: "Now", href: "/now" },
];

const currentPage = Astro.url.pathname;
---

<header
  class="relative z-10 container mx-auto mt-6 mb-12 flex max-w-3xl items-center gap-3 rounded-xl p-3 md:border md:border-stone-900 md:bg-stone-900/30">
  <a
    href="/"
    class="flex size-8 -rotate-45 items-center justify-center rounded-full bg-stone-900 text-center text-xl font-bold text-orange-600 shadow-md shadow-stone-50/20">
    E
  </a>
  <nav class="w-full">
    <ul class="hidden font-medium uppercase md:flex">
      {
        siteLinks.map((link) => (
          <li class="flex-grow">
            <a
              href={link.href}
              class={`group block rounded-md py-1.5 pl-3 text-sm transition-colors duration-150 ease-in-out hover:bg-stone-800 hover:text-orange-600 ${currentPage === link.href ? "text-orange-600" : "text-stone-300"}`}>
              <span
                class={`transition-colors duration-150 group-hover:text-white ${currentPage === link.href ? "text-white" : "text-stone-700"}`}>
                /
              </span>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <!-- ONLY VISIBLE AT SMALLER BREAK POINTS -->
  <DropdownMenu siteLinks={siteLinks} />
</header>
