---

---

<header class="relative z-2 container mx-auto flex max-w-7xl items-center justify-between px-1.5 pt-3 pb-12 lg:px-3">
  <a href="/" class="flex items-center gap-3">
    <span class="block size-6 place-content-center rounded-full bg-stone-300 text-center text-xs">EV</span>
    <span class="block font-bold text-stone-300">Edward Vonschondorf</span>
  </a>
  <nav class="flex cursor-pointer flex-col items-end justify-center gap-1">
    <span class="block h-0.5 w-7 rounded-full bg-stone-600"></span>
    <span class="block h-0.5 w-6 rounded-full bg-stone-600"></span>
    <span class="block h-0.5 w-5 rounded-full bg-stone-600"></span>
  </nav>
</header>
