---
import HorizontalMenu from "./horizontal-menu.astro";
import DropdownMenu from "./dropdown-menu.astro";

const siteLinks = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "/projects" },
  { name: "Arcade", href: "/arcade" },
  { name: "Blog", href: "/blog" },
  { name: "Now", href: "/now" },
];

const currentPage = Astro.url.pathname;
---

<header
  class="relative z-10 container mx-auto mt-6 mb-12 flex max-w-3xl items-center gap-3 rounded-xl p-3 md:border md:border-stone-900 md:bg-stone-900/30">
  <a
    href="/"
    class="flex size-8 -rotate-45 items-center justify-center rounded-full bg-stone-900 text-center text-xl font-bold text-orange-600 shadow-md shadow-stone-50/20">
    E
  </a>
  <HorizontalMenu siteLinks={siteLinks} currentPage={currentPage} />
  <DropdownMenu siteLinks={siteLinks} />
</header>
