---
import { socialLinks } from "@/global-consts";

const year = new Date().getFullYear();
---

<footer
  class="relative z-2 container mx-auto flex max-w-7xl flex-col justify-between gap-3 px-1.5 pt-12 pb-3 text-center text-sm md:flex-row md:gap-0 md:text-left lg:px-3">
  <ul class="flex flex-wrap justify-between md:gap-6">
    {
      socialLinks.map((link) => (
        <li>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer external"
            class="text-stone-300 hover:text-orange-600">
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
  <span class="block text-stone-500"
    >&copy; {year} Made with <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer external"
      class="text-stone-300 hover:text-orange-600">Astro</a
    >
  </span>
</footer>
