---
const socialLinks = [
  {
    name: "GitHub",
    url: "https://github.com/yourusername",
    icon: "/icons/github.svg",
  },
  {
    name: "LinkedIn",
    url: "https://linkedin.com/in/yourusername",
    icon: "/icons/linkedin.svg",
  },
  {
    name: "Bluesky",
    url: "https://bsky.app/profile/yourusername",
    icon: "/icons/bluesky.svg",
  },
  {
    name: "Mastodon",
    url: "https://mastodon.social/@yourusername",
    icon: "/icons/mastodon.svg",
  },
  {
    name: "YouTube",
    url: "https://youtube.com/c/yourusername",
    icon: "/icons/youtube.svg",
  },
];
---

<div class="flex gap-6">
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="block size-9 rounded-xl border border-stone-700 bg-stone-800/50 place-content-center"
      >
        {/* <img src={link.icon} alt={link.name} class="size-6" /> */}
        <span class="size-5 bg-white/50 block rounded-full mx-auto" />
      </a>
    ))
  }
</div>
