---
import GitHub from "../assets/github.svg";
import LinkedIn from "../assets/linkedin.svg";
import Bluesky from "../assets/bluesky.svg";
import Mastodon from "../assets/mastodon.svg";
import YouTube from "../assets/youtube.svg";
const socialLinks = [
  {
    name: "GitHub",
    url: "https://github.com/Torvec",
    icon: GitHub,
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/edward-vonschondorf/",
    icon: LinkedIn,
  },
  {
    name: "Bluesky",
    url: "https://bsky.app/profile/edward-vonschondorf.dev",
    icon: Bluesky,
  },
  {
    name: "Mastodon",
    url: "https://mastodon.social/@edvonschondorf",
    icon: Mastodon,
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/@edward-vonschondorf-dev",
    icon: YouTube,
  },
];
---

<div class="flex justify-between md:gap-6">
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="block size-9 place-content-center rounded-xl border border-stone-700 bg-stone-800/50 transition-transform duration-300 ease-in-out hover:scale-120"
      >
        {/* {link.icon} */}
        {/* <img src={link.icon} alt={link.name} class="size-6" /> */}
        <span class="mx-auto block size-5 rounded-full bg-white/50" />
      </a>
    ))
  }
</div>
