---
import Layout from "../../layouts/layout.astro";
import { getCollection, render } from "astro:content";
import FormattedDate from "../../components/formatted-date.astro";

const posts = (await getCollection("now")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const now = posts[0];

const then = posts.slice(1);
---

<Layout>
  <div class="text-white">
    <h2>Now</h2>
    <p>{now.data.content}</p>
    <h2>Then</h2>
    <p>
      {then.map((post) => post.data.content)}
    </p>
  </div>
</Layout>
