---
import BaseHead from "../components/base-head.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="bg-stone-900 place-content-center min-h-screen">
		<slot />
	</body>
</html>