---
import BaseHead from "../components/base-head.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body
    class="relative min-h-screen place-content-center bg-stone-950 py-1.5 antialiased lg:py-0"
  >
    <div class="bg-grid-lines absolute inset-0 z-0 opacity-60"></div>
    <div
      class="absolute inset-0 z-1 bg-gradient-to-b from-stone-950 via-stone-900/0 to-stone-950 md:from-10% md:to-90%"
    >
    </div>
    <slot />
  </body>
</html>
