---
import { getEntry, render } from "astro:content";

import ActionButton from "@/components/action-button.astro";

import ProfilePic from "@/components/profile-pic.astro";

const about = await getEntry("home", "about");

const { Content } = about ? await render(about) : { Content: () => null };

const resume = "placeholder";
---

<div class="hidden lg:block"><ProfilePic /></div>
<div class="space-y-3 text-sm font-medium text-stone-100">
  <div class="flex items-center gap-1.5">
    <span class="size-4 rounded-full bg-white"></span>
    <span>San Francisco Bay Area, CA</span>
  </div>
  <button class="flex cursor-pointer items-center gap-1.5">
    <span class="size-4 rounded-full bg-white"></span>
    <span>Available For v</span>
  </button>
  <button class="flex cursor-pointer items-center gap-1.5">
    <span class="size-4 rounded-full bg-white"></span>
    <span>Share Profile</span>
  </button>
</div>

<div class="about">
  <Content />
</div>

<ActionButton href={resume}>My Resume</ActionButton>
