---
import { getEntry, render } from "astro:content";
import ProfilePic from "@/components/profile-pic.astro";
import { socialLinks } from "@/global-consts";

const about = await getEntry("home", "about");

const { Content } = about ? await render(about) : { Content: () => null };
---

<div class="flex h-full flex-col justify-between">
  <div class="space-y-3">
    <div class="hidden lg:block">
      <ProfilePic />
    </div>
    <div class="about">
      <Content />
    </div>
    <div class="flex justify-between">
      {
        socialLinks
          .map((link) => (
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex size-9 items-center justify-center rounded-xl border border-stone-700 bg-stone-800/50 transition-transform duration-300 ease-in-out hover:scale-120">
              {/* {link.icon} */}
              {/* <img src={link.icon} alt={link.name} class="size-6" /> */}
              <span class="mx-auto block size-5 rounded-full bg-white/50" />
            </a>
          ))
          // exclude the email link
          .slice(1)
      }
    </div>
  </div>
</div>
