---
import SectionHeader from "@/components/section-header.astro";
---

<div class="h-full place-content-center font-medium text-stone-100">
  <SectionHeader href="/">Availability</SectionHeader>
</div>
