---
import { getCollection } from "astro:content";
import SectionHeader from "@/components/section-header.astro";
import FormattedDate from "@/components/formatted-date.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<div class="space-y-3">
  <SectionHeader href="/blog/">Blog</SectionHeader>
  <ul class="hidden space-y-1.5 lg:block">
    {
      posts.map((post) => (
        <li class="flex items-baseline gap-1.5 xl:gap-3">
          <span class="block min-w-20 text-xs text-stone-400 uppercase">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a
            href={`/blog/${post.id}/`}
            class="transition-color block w-full text-sm font-medium text-pretty text-stone-200 duration-300 ease-in-out hover:text-orange-600">
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
