---
import { getCollection } from "astro:content";
import SectionHeader from "@/components/section-header.astro";

const project = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
---

<div class="space-y-3">
  <SectionHeader href="/projects/">Projects</SectionHeader>
  <div>
    <a href={`/projects/${project.id}/`} class="group flex gap-3">
      <span
        class="hidden min-h-48 min-w-64 rounded-xl bg-white/50 transition-opacity duration-150 ease-in-out group-hover:opacity-80 lg:block"
      ></span>
      <div class="hidden space-y-3 lg:block">
        <span
          class="block font-medium text-stone-100 transition-colors duration-150 ease-in-out group-hover:text-orange-600"
          >{project.data.title}</span
        >
        <p class="text-sm text-stone-300 transition-colors duration-150 ease-in-out group-hover:text-stone-300/80">
          {project.data.description}
        </p>
      </div>
    </a>
  </div>
</div>
