---
import { Image } from "astro:assets";
import SectionHeader from "@/components/section-header.astro";
import { techList } from "@/pages/home/_content/home-content";
---

<div class="space-y-6">
  <SectionHeader>Tech & Tools</SectionHeader>
  <div class="flex flex-wrap justify-between gap-3">
    {
      techList.map((tech) => (
        <Image
          src={tech.icon}
          alt={tech.name}
          title={tech.name}
          class="h-6 w-auto transition-transform duration-300 ease-in-out hover:scale-125"
        />
      ))
    }
  </div>
</div>
